---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/cebarks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1549579459'
      Etag:
      - W/"f4f9d5ac79d1ef619eb2ff9f1ccfad9e"
      Last-Modified:
      - Mon, 28 Jan 2019 20:27:39 GMT
      X-Oauth-Scopes:
      - repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"cebarks","id":551065,"node_id":"MDQ6VXNlcjU1MTA2NQ==","avatar_url":"https://avatars3.githubusercontent.com/u/551065?v=4","gravatar_id":"","url":"https://api.github.com/users/cebarks","html_url":"https://github.com/cebarks","followers_url":"https://api.github.com/users/cebarks/followers","following_url":"https://api.github.com/users/cebarks/following{/other_user}","gists_url":"https://api.github.com/users/cebarks/gists{/gist_id}","starred_url":"https://api.github.com/users/cebarks/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cebarks/subscriptions","organizations_url":"https://api.github.com/users/cebarks/orgs","repos_url":"https://api.github.com/users/cebarks/repos","events_url":"https://api.github.com/users/cebarks/events{/privacy}","received_events_url":"https://api.github.com/users/cebarks/received_events","type":"User","site_admin":false,"name":"Anten
        Skrabec","company":null,"blog":"http://www.cebarks.net","location":"Denver,
        Colorado, USA","email":"cebarks@gmail.com","hireable":true,"bio":null,"public_repos":54,"public_gists":1,"followers":16,"following":39,"created_at":"2011-01-06T22:30:24Z","updated_at":"2019-01-28T20:27:39Z","private_gists":7,"total_private_repos":6,"owned_private_repos":6,"disk_usage":102546,"collaborators":5,"two_factor_authentication":false,"plan":{"name":"pro","space":976562499,"collaborators":0,"private_repos":9999}}'
  recorded_at: Thu, 07 Feb 2019 22:03:58 GMT
[...]
